* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);

  }
  
.header {
    text-align: center;
}
.logo{
  padding-top: 10;
}
.cuba{
  padding-bottom: 10%;
  font-size: 70px;
  font-family: 'Cabin Sketch', cursive;
  color: azure;
  text-shadow: 8px 8px 14px #000000;
  
}
  
.background{
  background-image: url("123.jpg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 10px 10px 10px rgb(131, 131, 131);
  padding-bottom: 50px;
}

  .allinform {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 8px 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .inform {
    flex: 50%;
    max-width: 50%;
    padding: 1% 1% 4% 1% ;


  }
 
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .inform {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .inform {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .p{
      font-size: 20px;
      padding: 2% 3%;
  }
  p{
    font-size: 150%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   opacity: 0.4;
}
  
  li {
    float: right;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


.youtube{
  margin: auto;
}

.flooter{
  padding: 2% 30%;
  background-color: white;
  text-align: center;
  margin-top: 0;
}

hr{
  border: 1px solid grey;
  margin-bottom: 0;
}

.flLink:link, .flLink:visited {
  color: rgb(66, 65, 65);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.flLink:hover, .flLink:active {
   color: rgb(43, 43, 43);
}