* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.header {
  text-align: center;
}
.logo {
  padding-top: 20;
  margin-right: auto;
  margin-left: auto;
}
.cuba {
  padding-bottom: 10%;
  font-size: 70px;
  font-family: "Cabin Sketch", cursive;
  color: azure;
  text-shadow: 8px 8px 14px #000000;
}

.background {
  background-image: url("123.jpg");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 10px 10px 10px rgb(131, 131, 131);
  padding-bottom: 50px;
}

.allinform {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 8px 4px;
}

/* Create four equal columns that sits next to each other */
.inform {
  flex: 50%;
  max-width: 50%;
  padding: 1% 1% 4% 1%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .inform {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .inform {
    flex: 100%;
    max-width: 100%;
  }
}

.p {
  font-size: 18px;
  padding: 10% 3% 2% 3%;
}

p {
  font-size: 150%;
  padding-top: 30px;
}

.ul1 {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.4;
}

.list {
  float: right;
  font-size: 60px;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list a:hover {
  background-color: #111;
}

.youtube {
  margin: auto;
}

hr {
  border: 1px solid grey;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  float: right;
  margin-left: 40px;
  padding-left: 400px;
  text-align: right;
}
a {
  display: block;
  text-align: center;
  padding: 2px 16px 14px 0;
  text-decoration: none;
  margin-right: 0;
  text-align: right;
  color: rgb(56, 56, 56);
  font-size: 18px;
}
#flooter {
  margin: 30px;
  padding: 8px 4px;
}

/* Create four equal columns that sits next to each other */
.flex {
  flex: 50%;

  padding: 1% 30% 4% 0%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 600px;
  height: 500px;
  margin: auto;
  resize: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .allfloot {
    flex: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex {
    flex: 100%;
    max-width: 100%;
  }
  .cuba {
    font-size: 60px;
  }
  .logo {
    width: 300px;
  }
  .background {
    height: 600px;
    padding-bottom: 0px;
  }
  .allinform {
    display: flex;
    margin: 0px;
    padding: 8px px;
  }
  .flex {
    flex: 100%;
    max-width: 100%;
    padding: 1% 30% 4% 0%;
  }
  ul {
    padding-left: 50px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 600px;
    height: 400px;
  }
}
